* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #8a072e;
    color: white;
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 20px;
    width: 300px;

}

ul a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    width: 300px;
    background-color: #fff1f1;
    padding: 15px;
    border-radius: 15px;
}

ul a:hover {
    background-color: #ffd8d8;
    cursor: pointer;
}